/*未访问：蓝色、无下划线*/
a:link {
    color: #18b63a;
    text-decoration: none;
}

/*激活：红色*/
a:active {
    color: red;
}

/*已访问：purple、无下划线*/
a:visited {
    color: #1cd042;
    text-decoration: none;
}

/*鼠标移近：红色、下划线*/
a:hover {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.tmsgtop {
    height: 130px;
    border-bottom: 10px dashed #d6ffd4;
}

.tmsgtopit {
    width: 91px;
    height: 100px;
    text-align: center;
    float: left;
    cursor: pointer;
}

.tmsgtopiti {
    text-align: end;
    float: left;
    margin-top: 65px;
}

.tmsgtopitx {
    width: 91px;
    height: 29px;
    background-image: url("../images/sysset_dd.gif");
    text-align: center;
    line-height: 29px;
    font-size: 10px;
    color: #a9abb0;
    background-size: 100% 100%;
}

.tmsgxd{
    height: 30px;
    line-height: 30px;
    color: black;
    font-weight: 600;
    font-family: 楷体;
}

.tmsgtop {
    height: 50px;
    border-bottom: 10px dashed #d6ffd4;
}

.tjzpx{
    text-align: center;
    margin-top: 100px;
}

.supload{
    border: 1px solid #c1c6c0;
    padding-bottom: 4px;
}

.upts{
    color: red;
}